@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto' sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}


/* First Section */
.first-section {
    background: #1F2937;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.navbar-left {
    display: flex;
    flex-direction: row;
}

#header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
    margin: 20px;
}

.header-link:hover {
    color: #8a8d8a;
}

ul {
    display: flex;
    flex-direction: row;
}

.navbar-left,.navbar-right {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.content-header {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.p-first {
    font-size: 18px;
    color: #e5e7eb;
    margin-left: 130px;
}

.sign-up-first-section {
    background-color: #3882f6;
    color: #ffffff;
    width: 100px;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

.content {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: 10px;
}

.content-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

img {
    margin: 50px;
}
